@page "/"

<PageTitle>Roweys FAF Infomation Playground</PageTitle>

<h1>ToDo List</h1>

<ul>
    <li>Implement OAuth To be able to accses API Data</li>
    <li>Grab Data From API and Dump to JSON Files and Keep Updated</li>
    <li>Maipulation of JSON Data</li>
</ul>


<h2>Planed Pages</h2>

- Landing Page
- Clear Leaderboards
    - 1v1
    - 2v2
    - 4v4
    - Clan
- Maps
    - Map Pool
    - Map Stats
- Replays 
    - Search
    - Download
- Users
    - Search
    - Stats
    - Leaderboards

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>


