@page "/"

<PageTitle>Roweys FAF Infomation Playground</PageTitle>

<h1>ToDo List</h1>

<ul>
    <li>Implement OAuth To be able to accses API Data</li>
    <li>Grab Data From API and Dump to JSON Files and Keep Updated</li>
    <li>Maipulation of JSON Data</li>
</ul>

<h2>Planed Pages</h2>

<ul>
    <li>Landing Page</li>
    <li>Leaderboards:
        <ul>
            <li>1v1</li>
            <li>2v2</li>
            <li>4v4</li>
            <li>Clan</li>
        </ul>
    </li>
    <li>Maps:
        <ul>
            <li>Map Pool</li>
            <li>Map Stats</li>
        </ul>
    </li>
    <li>Replays:
        <ul>
            <li>Search</li>
            <li>Download</li>
        </ul>
    </li>
    <li>Users:
        <ul>
            <li>Search</li>
            <li>Stats</li>
            <li>Leaderboards</li>
        </ul>
    </li>
</ul>

@code {

}