@page "/replays";
@inject HttpClient Http;


<PageTitle>Replays</PageTitle>

<h3>FAF Replays</h3>



@code {
    private string apiResponse;

    protected override async Task OnInitializedAsync()
    {
        apiResponse = await Http.GetStringAsync("https://api.faforever.com/data/game"); // This will include the accses token in the request
    }

}
